.no-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 640px) {
  .no-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.remove-list-item {
  display: inline-block;
  margin-top: 1.6em;
}

.list-item-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.list-item-wrapper .heading-small,
.list-item-wrapper .heading-medium,
.list-item-wrapper .heading-large,
.list-item-wrapper .heading-xlarge {
  margin-top: 0;
}

.list-item-wrapper .column-one-third .list-item {
  width: 100%;
}

.list-item-wrapper .column-one-third input {
  width: 90%;
}

@media (max-width: 640px) {
  .list-item-wrapper .column-one-third input {
    width: 100%;
  }
}

.list-item-wrapper-vertical {
  padding-left: 20px;
  padding-right: 20px;
}

.list-item-wrapper-vertical input {
  width: 80%;
}

@media (max-width: 640px) {
  .list-item-wrapper-vertical input {
    width: 100%;
  }
}

.list-item-wrapper-vertical .remove-list-item-vertical {
  margin-top: 4.4em;
  display: block;
}

.list-item-wrapper-vertical .heading-medium {
  margin-top: 0;
}

.button-add-another-vertical,
.button-add-another {
  background-color: #eee;
  color: #000;
  box-shadow: 0 2px 0 #666;
}

.button-add-another-vertical:hover,
.button-add-another:hover {
  background-color: #ccc;
  color: #000;
  box-shadow: 0 2px 0 #666;
}

.button-add-another-vertical:focus,
.button-add-another:focus {
  background-color: #ccc;
  color: #000;
  box-shadow: 0 2px 0 #666;
}

@media (max-width: 640px) {
  .button-add-another-vertical,
  .button-add-another {
    width: 90%;
    margin: auto;
    display: block;
  }
}
