{% extends "layout.html" %}

{% block page_title %}
  File upload design - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
          Attachments
        </h1>

        <h2 class="heading-medium">No JavaScript unavailable</h2>

        <div class="form-group m-b-xl">
          <input type="file" class="file-upload" id="file-upload" name="attachmentsSupportingDocs" multiple>
        </div>

        {% include "includes/continue-save.html" %}

        <div class="clear"></div>
        <hr>

        <h2 class="heading-medium">JavaScript available</h2>

        <h2 class="heading-small m-b-l">Step 1</h2>

        <p><button id="add-button" class="button button-add-another">Choose files</button> <span class="inline-button-text">Or drag and drop</span></p>

        <div class="dropzone m-b-l">

          <p>Drag and drop files here</p>

        </div>{# /dropzone #}

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

        <div class="clear"></div>
        <hr>

        <h2 class="heading-small m-b-l">Step 2</h2>

        <p><button id="add-button" class="button button-add-another">Choose more files</button></p>

        <table class="m-b-l">
            <thead class="visually-hidden">
              <tr>
                <th>File name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>ExampleFile1.docx</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile1.docx</span></a></td>
            </tr>
            <tr>
              <td>ExampleFile2.doc</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile2.doc</span></a></td>
            </tr>
            <tr>
              <td>ExampleFile3.pdf</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile3.pdf</span></a></td>
            </tr>
            <tr>
              <td>ExampleFile4.dmg</td>
              <td><span class="red-bold">File type not allowed</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile3.pdf</span></a></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <input type="submit" class="button" value="Upload and continue">
        </div>

        <div class="clear"></div>
        <hr>

        <h2 class="heading-small m-b-l">Step 3</h2>

        <p><button id="add-button" class="button button-add-another">Choose more files</button></p>

        <table class="m-b-l">
            <thead class="visually-hidden">
              <tr>
                <th>File name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>ExampleFile1.docx</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile1.docx</span></a></td>
            </tr>
            <tr>
              <td>ExampleFile2.doc</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile2.doc</span></a></td>
            </tr>
            <tr>
              <td>ExampleFile3.pdf</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile3.pdf</span></a></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <input type="submit" class="button" value="Upload and continue">
        </div>

        <div class="clear"></div>
        <hr>

        <h2 class="heading-small m-b-l">Step 4</h2>

        <p><button id="add-button" class="button button-add-another">Choose more files</button></p>

        <table class="m-b-l">
            <thead class="visually-hidden">
              <tr>
                <th>File name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>ExampleFile1.docx</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile1.docx</span></a></td>
            </tr>
            <tr>
              <td>ExampleFile2.doc</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile2.doc</span></a></td>
            </tr>
            <tr>
              <td>ExampleFile3.pdf</td>
              <td><span class="visually-hidden">Ready to upload</span></td>
              <td class="col-right"><a href="#">Remove file <span class="visually-hidden">ExampleFile3.pdf</span></a></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <input type="submit" class="button" value="Upload and continue" disabled="true">
          <span class="loading inline-button-text"><span>loading</span></span>
        </div>

        <div class="clear"></div>
        <hr>

        <h2 class="heading-small m-b-l">Step 5</h2>

        <p>Next page</p>

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}