{% extends "layout.html" %}

{% block page_title %}
  File upload design - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('visit-other') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="heading-large">Next page</h1>

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}