{% extends "layout_dwp.html" %}

{% block page_title %}
  Customer contact - Visiting Service Management System
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('customer-details') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

          <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">There&rsquo;s a problem</h1>
          <p>Check your form. You must:</p>
          <ul class="error-summary-list">
            <li><a href="#postcode">Enter a valid customer postcode</a></li>
          </ul>

        </div>

        <h1 class="form-title heading-large m-b-xl">
          <span class="heading-secondary">
            4 of 9
          </span>
          Customer contact
        </h1>

        <fieldset class="m-b-0 m-t-l">

          <div class="form-group">

            <label class="block-label" for="address-fixed" data-target="panel1">
              <input id="address-fixed" type="radio" name="address-type" value="address-fixed" checked="checked">
              Customer has a fixed address
            </label>

            <label class="block-label" for="address-no-fixed" data-target="panel2">
              <input id="address-no-fixed" type="radio" name="address-type" value="address-no-fixed" >
              No fixed address
            </label>

        <div id="panel1" class="panel panel-border-narrow m-b-xs">

          <h2 class="heading-medium m-b-s">Customer&rsquo;s address</h2>

          <div class="form-group m-b-m">
            <div class="error m-b-s">
            <label class="form-label m-b-xs" for="postcode">Customer&rsquo;s postcode</label>
            <span class="error-message">Correct your answer</span>
            <input type="text" class="form-control postcode m-b-0" id="postcode" value="NG8+*%">
            <button id="add-button" class="button button-add-another">Find address</button>
            </div>
            {# <p class="m-b-0 font-xsmall"><a href="#">Enter address manually</a></p> #}
          </div>

          <div class="clear"></div>

          <h2 class="heading-medium m-b-s m-t-m">Correspondence address (if different)</h2>

          {# Postcode lookup #}
          {% import "includes/postcode-lookup.html" as postcode %}
          {{ postcode.label('Correspondence postcode') }}
          {# Postcode lookup #}

        </div>{# / panel1 #}

        <div id="panel2" class="panel panel-border-narrow js-hidden m-b-xs">

          {# Postcode lookup #}
          {% import "includes/postcode-lookup.html" as postcode %}
          {{ postcode.label('Correspondence postcode') }}
          {# Postcode lookup #}

        </div>{# / panel2 #}

        </fieldset>

        <div class="form-group m-b-l">
          <label class="form-label m-b-xs" for="full-name">Phone number</label>
          <input type="text" class="form-control form-control-1-4 m-b-s" id="full-name">
        </div>

        <fieldset class="m-b-s m-t-l">

          <legend class="heading-medium m-b-s">Contact preferences</legend>

          <div class="form-group">

            <label class="block-label" for="large-print">
              <input id="large-print" type="checkbox" name="large-print" value="large-print" >
              Large print
            </label>

            <label class="block-label" for="welsh-letter">
              <input id="welsh-letter" type="checkbox" name="welsh-letter" value="welsh-letter" >
              Welsh language
            </label>

          </div>

        </fieldset>
    
        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>
{% endblock %}