{% extends "layout_dwp.html" %}

{% block page_title %}
  Confirmation - Visiting Service Management System
{% endblock %}

{% block content %}
<main id="content" role="main">
{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large m-b-m">Your referral has been submitted</h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <p>Description about what happens next would be here.</p>

      <p><a href="referrer" class="button">Request another visit</a></p>

  </div>

</main>
{% endblock %}