{% extends "layout_dwp.html" %}

{% block page_title %}
  Representative contact - Visiting Service Management System
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('representative-details') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
          <span class="heading-secondary">
            5 of 9
          </span>
          Representative contact
        </h1>

        <fieldset class="m-b-s">

          <legend class="form-label m-b-s">Representative&rsquo;s address</legend>

          <fieldset class="form-group m-b-m">

            <legend class="form-label m-b-xs visually-hidden">Address</legend>

            <label class="block-label" for="choice3-1">
              <input id="choice3-1" type="radio" name="choice3" value="yes">
              Same as customer address
            </label>

            <label class="block-label" for="choice3-2" data-target="panel">
              <input id="choice3-2" type="radio" name="choice3" value="no">
              Other address
            </label>

            <div id="panel" class="panel panel-border-narrow js-hidden m-b-xs">

            {# Postcode lookup #}
              {% import "includes/postcode-lookup.html" as postcode %}
              {{ postcode.label('Representative’s postcode') }}
            {# Postcode lookup #}

            </div>{# /panel #}

          </fieldset>

        </fieldset>

        <fieldset class="m-b-s">

          <div class="form-group m-b-ml">
            <label class="form-label m-b-xs" for="rep-number">Phone number</label>
            <input type="text" class="form-control form-control-1-4" id="rep-number">
          </div>

        </fieldset>
    
        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>
{% endblock %}