{% extends "layout_dwp.html" %}

{% block page_title %}
  Visiting team information - Request a visit
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if edit %}
      {% else %}
        {# Back link #}
          {% import "includes/back-link.html" as back %}
          {{ back.url('visit-address') }}
        {# Back link #}
      {% endif %}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
          <span class="heading-secondary">
            8 of 9
          </span>
          Information for the visiting team
        </h1>

        <div class="form-group">
          <label class="form-label m-b-xs" for="reason">Customer health conditions (optional)</label>
          <textarea class="form-control" id="reason" rows="5"></textarea>
        </div>

        {# risk factor #}
        <div class="form-group">

          <fieldset class="inline">
            <label class="form-label m-b-xs" for="risk-details">Risk factors (optional)
              <span class="form-hint">
                For example, dog in the house, aggressive customer, unacceptable customer behaviour&nbsp;(UCB).
              </span>
            </label>
            <input type="text" class="form-control" id="risk-details">
          </fieldset>

          <div id="panel-risk" class="js-hidden panel panel-border-narrow">
            <div class="form-group m-b-ml">
              <label class="form-label m-b-xs" for="risk-details">Risk details</label>
              <input type="text" class="form-control" id="risk-details">
            </div>
          </div>{# / panel-risk #}

        </div>{# / risk factor #}

        {# accessibility #}
        <div class="form-group m-b-ml">

          <fieldset class="inline">
            <label class="form-label m-b-xs" for="accessiblity-details">Accessibility requirements (optional)
              <span class="form-hint">
                For example, use back door.
              </span>
            </label>
            <input type="text" class="form-control" id="accessiblity-details">
          </fieldset>

          <div id="panel-accessiblity" class="js-hidden panel panel-border-narrow m-b-s">
            <div class="form-group m-b-ml">
              <label class="form-label m-b-xs" for="risk-details">Accessibility details</label>
              <input type="text" class="form-control" id="risk-details">
            </div>
          </div>{# / panel-risk #}

        </div>{# / accessibility #}

        {% include "includes/continue-save.html" %}

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>
{% endblock %}