{% extends "layout_dwp.html" %}

{% block page_title %}
  Title
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {# Back link #}
        {% import "includes/back-link.html" as back %}
        {{ back.url('2-customer-contact') }}
      {# Back link #}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
           Customer&rsquo;s representative
        </h1>

        <div class="form-group m-b-m">

          <fieldset class="m-b-s">

            <legend class="form-label m-b-s">Does the customer have a Personal Acting Body or Corporate Acting&nbsp;Body?</legend>

            <label class="block-label" for="choice1-1" data-target="panel">
              <input id="choice1-1" type="radio" name="choice1" value="yes">
              Confirmed PAB or CAB
            </label>

            <label class="block-label" for="choice1-2" data-target="panel">
              <input id="choice1-2" type="radio" name="choice1" value="no">
              Potential PAB or CAB
            </label>

            <label class="block-label" for="choice1-3">
              <input id="choice1-3" type="radio" name="choice1" value="no">
              No acting body
            </label>

            <div id="panel" class="panel panel-border-narrow js-hidden m-b-xs">

              <div class="m-b-ml">
                <label class="form-label m-b-xs" for="rep-title">Representative&rsquo;s title</label>
                <input type="text" class="form-control" id="rep-title">
              </div>

              <div class="m-b-ml">
                <label class="form-label m-b-xs" for="rep-name">Representative&rsquo;s full name</label>
                <input type="text" class="form-control" id="rep-name">
              </div>

            </div>{# / panel #}

          </fieldset>

        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>
{% endblock %}