{% extends "layout_dwp.html" %}

{% block page_title %}
  Title
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {# Back link #}
        {% import "includes/back-link.html" as back %}
        {{ back.url('/') }}
      {# Back link #}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
{#           <span class="heading-secondary">
            Step X
          </span> #}
           Attachments
        </h1>

        <div class="form-group m-b-xl">
          <label class="form-label" for="file-upload">Upload any supporting documents (optional)
            <span class="form-hint">e.g. form that requires completing</span>
          </label>
          <input type="file" id="file-upload" name="attachmentsSupportingDocs" class="form-control">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>
{% endblock %}