{% extends "layout_unbranded.html" %}

{% block page_title %}
  Visiting Service Management System
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">Visiting Service Management System</h1>

        <h2 class="heading-medium">Internal referral form</h2>

        <ul class="list list-bullet">
          <li><a href="/v1">Version 1 - 16 June (includes original design review)</a></li>
          <li><a href="/v2/referrer">Version 2 - 26 July to current (work in progress)</a></li>
        </ul>

      </div>
    </div>
  </main>
{% endblock %}