{% extends "layout_unbranded.html" %}

{% block page_title %}
  Visiting Service Management System
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">Visiting Service Management System design review</h1>

        <p class="m-b-l">16 June 2016</p>

        <p style="background-color: #fff2cc; padding: 20px;">
          You can find accompanying notes in <a href="https://docs.google.com/document/d/17ZFtiRNizAcAxQr5JmLFZBjc_bw8_H8GmI9195379MI/edit?usp=sharing" target="_blank">this Google document</a>
        </p>

        <h2 class="heading-medium">Suggested updates</h2>

        <p>This review mainly focuses on tidying up the layouts and bringing the styling inline with the current <abbr title="Government Digital Service">GDS</abbr> and <abbr title="Department of Work &amp; Pensions">DWP</abbr> conventions . The pages below have been realigned with updated designs.</p>

        <a href="1-referrer" class="button">View journey</a>

        <hr>

        <h3 class="heading-small m-b-m">1. Referrer</h2>
        <ul class="list list-bullet">
          <li><a href="1-referrer">Referrer</a></li>
        </ul>
        <p class="font-xsmall sec-link"><a href="/public/images/screenshots/1-referrer.png">Current screenshot</a></p>

        <hr>

        <h3 class="heading-small m-b-m">2. Customer</h2>
        <ul class="list list-bullet">
          <li><a href="2-customer-details">Customer details</a></li>
          <li><a href="2-customer-contact">Customer contact</a></li>
        </ul>
        <p class="font-xsmall sec-link"><a href="/public/images/screenshots/2-customer.png">Current screenshot</a></p>

        <hr>

        <h3 class="heading-small m-b-m">3. Representative</h2>
        <ul class="list list-bullet">
          <li><a href="3-representative-details">Representative details</a></li>
          <li><a href="3-representative-contact">Representative contact</a></li>
        </ul>
        <p class="font-xsmall sec-link"><a href="/public/images/screenshots/3-representative.png">Current screenshot</a></p>

        <hr>

        <h3 class="heading-small m-b-m">4. Visit</h2>
        <ul class="list list-bullet">
          <li><a href="4-visit-details">Visit details</a></li>
          <li><a href="4-visit-address">Visit address</a></li>
        </ul>
        <p class="font-xsmall sec-link"><a href="/public/images/screenshots/4-visit.png">Current screenshot</a></p>

        <hr>

        <h3 class="heading-small m-b-m">5. Attachments</h2>
        <ul class="list list-bullet">
          <li><a href="5-attachments">Attachments</a></li>
        </ul>
        <p class="font-xsmall sec-link"><a href="/public/images/screenshots/5-attachments.png">Current screenshot</a></p>

        <hr>

        <h3 class="heading-small m-b-m">6. Check your answers</h2>
        <ul class="list list-bullet">
          <li><a href="6-check-your-answers">Check your answers</a></li>
        </ul>
        <p class="font-xsmall sec-link"><a href="/public/images/screenshots/6-check-your-answers.png">Current screenshot</a></p>

        <hr>

        <h3 class="heading-small m-b-m">7. Confirmation</h2>
        <ul class="list list-bullet">
          <li><a href="7-confirmation">Confirmation</a></li>
        </ul>
        <p class="font-xsmall sec-link"><a href="/public/images/screenshots/7-confirmation.png">Current screenshot</a></p>

        <hr>

      </div>
    </div>
  </main>
{% endblock %}