{% extends "layout_dwp.html" %}

{% block page_title %}
  Visiting Service Management System
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">Visiting Service Management System design review</h1>

        <h2 class="heading-medium">Screens</h2>

        <ul class="list list-bullet">
          <li><a href="1-referrer">Referrer</a></li>
          <li><a href="2-customer-details">Customer details</a></li>
          <li><a href="2-customer-contact">Customer contact</a></li>
          <li><a href="3-representative-details">Representative details</a></li>
          <li><a href="3-representative-contact">Representative contact</a></li>
          <li><a href="4-visit-details">Visit details</a></li>
          <li><a href="4-visit-address">Visit address</a></li>
          <li><a href="4-visit-other">Visit other</a></li>
          <li><a href="5-attachments">Attachments</a></li>
          <li><a href="6-check-your-answers">Check your answers</a></li>
          <li><a href="7-confirmation">Confirmation</a></li>
        </ul>

      </div>
    </div>
  </main>
{% endblock %}