{% extends "layout_dwp.html" %}

{% block page_title %}
  Step 3 - Customer contact details
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {# Back link #}
        {% import "includes/back-link.html" as back %}
        {{ back.url('step2-customer-details') }}
      {# Back link #}

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
          <span class="heading-secondary">
            Step 3
          </span>
           Customer contact details
        </h1>

        <fieldset class="m-b-m">

          <legend class="heading-medium m-b-m">Address</legend>

          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="full-name">Customer&rsquo;s postcode</label>
            <input type="text" class="form-control postcode m-b-s" id="full-name">
            <button id="add-button" class="button button-add-another">Find UK address</button>
            <p class="m-b-0"><a href="#">Enter address manually</a></p>
          </div>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="form-label m-b-xs" for="full-name">Does the customer have a care of address?</legend>

              <label class="block-label" for="choice1-1">
                <input id="choice1-1" type="radio" name="choice1" value="yes" >
                Yes
              </label>

              <label class="block-label" for="choice1-2">
                <input id="choice1-2" type="radio" name="choice1" value="no" >
                No
              </label>

            </fieldset>

          </div>

        </fieldset>

        <fieldset class="m-b-m">

          <legend class="heading-medium m-b-m">Phone number</legend>

          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="full-name">Customer&rsquo;s landline or mobile number</label>
            <input type="text" class="form-control" id="full-name">
          </div>

        </fieldset>

        <fieldset>

          <legend class="heading-medium m-b-m">Contact preferences</legend>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="form-label m-b-xs">Do they require a Welsh letter?</legend>

              <label class="block-label" for="choice2-1">
                <input id="choice2-1" type="radio" name="choice2" value="yes" >
                Yes
              </label>

              <label class="block-label" for="choice2-2">
                <input id="choice2-2" type="radio" name="choice2" value="no" >
                No
              </label>

            </fieldset>
          </div>

          <div class="form-group">

            <fieldset class="inline">

              <legend class="form-label m-b-xs" for="full-name">Do they require large print?</legend>

              <label class="block-label" for="choice3-1">
                <input id="choice3-1" type="radio" name="choice3" value="yes" >
                Yes
              </label>

              <label class="block-label" for="choice3-2">
                <input id="choice3-2" type="radio" name="choice3" value="no" >
                No
              </label>

            </fieldset>

          </div>

        </fieldset>



    
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>
{% endblock %}