{% extends "layout_dwp.html" %}

{% block page_title %}
  Step 1 - Referrer
{% endblock %}

{% block content %}
<main id="content" role="main">

{% include "includes/alpha-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="form-title heading-large m-b-xl">
          <span class="heading-secondary">
            Step 1
          </span>
           Referrer details
        </h1>

        <fieldset class="m-b-m">

          <legend class="heading-medium m-b-m">About you</legend>

          <!-- Full name -->
          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="full-name">Your full name</label>
            <input type="text" class="form-control" id="full-name">
          </div>

          <!-- Contact number -->
          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="phone-number">Your contact phone number</label>
            <input type="text" class="form-control" id="phone-number">
          </div>

          <!-- Contact number -->
          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="phone-number">Your contact email address</label>
            <input type="text" class="form-control" id="phone-number">
          </div>

          <!-- Contact number -->
          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="phone-number">Your return email address
              <span class="form-hint">All communications to will be sent to this address</span>
            </label>
            <input type="text" class="form-control" id="phone-number">
          </div>

        </fieldset>

        <fieldset class="m-b-s">

          <legend class="heading-medium m-b-m">Your organisation</legend>

          <!-- Contact number -->
          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="phone-number">Organisation name</label>
            <select id="referrerOrganisation" name="referrerOrganisation" class="form-control">
              <option value="PlaceHolder">Please select an organisation</option>
            </select>
          </div>

          <!-- Location -->
          <div class="form-group m-b-l">
            <label class="form-label m-b-xs" for="phone-number">Location</label>
            <select id="referrerOrganisation" name="referrerOrganisation" class="form-control">
              <option value="PlaceHolder">Please select an organisation</option>
            </select>
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>
{% endblock %}